<%- include('head'); -%>
  <main>
    <div class="jumbotron">
      <p class="lead"><i class="fa fa-user" aria-hidden="true"></i>
        Authentication Status</p>
      <hr class="my-4">
      <% if (status.isAuthenticated()) { %>
        <p> <%= status.user.displayName %> is authenticated!!!</p>
        <p> Time Session: <%= status.user.expiryDate%>
        </p>
        <p> Token: <%= status.user.accessToken%>
        </p>
        <% } else { %>
          <p> You are NOT authenticated!!</p>
          
            <a class="btn btn-primary" href="/login" role="button"><span class="fa fa-google"></span> Login with Google</a>
            <a id="siw-public-key" class="btn btn-secondary" href="/login" role="button"><span class="fa fa-key"></span> WebAuthn Authentication</a>
         
          <% } %>
    </div>
  </main>
  <%- include('foot'); -%>